@import '_variable.scss';
@import '_fonts.scss';

.active{
    color: $brandcol !important;
   nav{
       ul{
           li{
               a{
                &::after{
                    width: 30px;
                }
                &::before{
                    width: 60px;
                }
               }
           }
       }
   }
}
.nav-fix{
   position: fixed;
   top: 0;
   left: 0px;
   background: $light;
   width: 100%;
   z-index: 999;
   animation:slow_mo 1s linear;
   -webkit-animation:slow_mo 1s linear;
}
@keyframes slow_mo{ 
        0%{
            top:-90px;
        }
        100%{
            top:0px; 
        }
}

nav{
    ul{
        li{
            padding-left: 20px !important;
           
            position: relative;
            &::after{
                 @include trans(0.4s);
                content: '';
                width:0px;
                height: 1px;
                background: $brandcol;
                position: absolute;
                bottom: 25px;
                left: 20;
            }
            padding: 0px 18px;
            a{
                line-height: 110px;
                @include rel_med;
                font-size: 16px;
                &:hover{
                    color: $brandcol !important;
                }
            }
            &::before{
                @include trans(0.4s);
                content: '';
                width: 0px;
                height: 1px;
                background: $brandcol;
                position: absolute;
                bottom: 30px;
                left: 20;
            }
            &:hover{
                &::after{
                    width: 30px;
                }
                &::before{
                    width: 60px;
                }
            }
        }
    }
    .cta_btn{
        color: $brandcol;
        text-transform: capitalize;
    }
    .navbar-brand{
        margin: 20px 0px;
    }
}